div{

    display: flex;
}

.text-white{
color: white;
}

.bg-red{
background-color: red;
}

.wrapper{
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.spacer{
    height: 30vh;
}

.search{
    flex-direction: row;
    justify-content: center;

}

.shop {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.shop-item {
    flex-direction: column;
    
    @media (max-width:400px) {
        width: 40%; 
    }
    @media (min-width:400px) {
        width: 15%; 
    }

    padding: 10px;
}